@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.header__title {
    width: 40px;
    height: 40px;
}

.header__title img {
    width: 100%;
}

.headernav {
    display: none;
}

.headernav__link {
    margin-left: 1rem;
    text-decoration: none;
    color: #3a3a3a;
}

.main {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.userlist {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 1rem) / 3) );
    grid-gap: 0.5rem;
    padding: 0.5rem;
}

.userlist__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    cursor: pointer;
}

.userlist__card:hover {
    transform: translateY(10px) scale(1.02);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

.userlist__card-avatar , .userinfo__avatar {
    width: 100%;
}

.userlist__card-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.userlist__card a {
    text-decoration: none;
    color: black;
}

.profileform {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form__submit-button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: rgb(14, 14, 14);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form__submit-button:hover {
    background: #ccc;
    color: black;
}

.profileform__control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profileform__control textarea {
    resize: none;
    min-height: 100px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgb(16, 16, 16);

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.footernav__link {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
}

.userinfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: -1rem;
}

.userinfo__name {
    
}

.userinfo__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.userinfo__actions a {
    color: #f0f0f5;
}

.userinfo__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.userinfo__actions-overlay {
    backdrop-filter: blur(5px);
    background-color: rgba(16, 16, 16,0.8);
    padding: 1rem;
    color: white;
}

.userinfo__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userinfo__description {
    padding: 1rem 0;
    height: 0;
    transition: all 0.3s ease;
}

.messages-private {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 116px);
}

.messages-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* max-height: calc(100vh - 220px); */
}

.messages-textarea {
    position: relative;
}

.messages-textarea form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.messages-textarea textarea {
    width: 100%;
    resize: none;
    min-height: 100px;
    padding: 1rem;
    border: 1px solid #ccc;
    /* border-radius: 0.5rem; */
}

.messages-textarea button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #f0f0f5;
    cursor: pointer;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message_right {
    background-color: orange;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    align-self: flex-end;
}

.message_left {
    background-color: lightblue;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    align-self: flex-start;
}

.flex {
    display: flex;
}

.landing-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 3px;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: white;
    width: calc(100% - 2rem);
    max-width: 400px;
}

.landing-form__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.landing-form__link {
    text-decoration: none;
    color: black;
}

.header__btn {
    border: none;
    outline: none;
    margin-left: 1rem;
}



.page__title {
    padding: 0 0.5rem;
}

.loader-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    padding: 0.5rem;
}

.loader-form {
    padding: 0.5rem;
}